<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register Page</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container mt-5">
      <h3 class="mb-4">Register Page</h3>

      <form method="POST" >
        {% csrf_token %}

        <div class="col-md-6">
          <label for="validationCustom01" class="form-label">First name</label>
          <input
            type="text"
            class="form-control"
            name="firstname"
            id="validationCustom01"
            placeholder="Enter Your First Name"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input
            type="text"
            class="form-control"
            name="lastname"
            id="validationCustom02"
            placeholder="Enter Your Last Name"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="validationCustom01" class="form-label">User name</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="validationCustom01"
            placeholder="Enter Your User Name"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Enter Your Email"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="inputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password1"
            id="inputPassword1"
            placeholder="Enter Your Password"
            required
          />
          <small class="text-muted">
            Must be 8+ chars, contain uppercase, lowercase, number & special
            char
          </small>
        </div>
        <div class="col-md-6">
          <label for="inputPassword2" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="inputPassword2"
            name = "password2"
            placeholder="Enter Your Password agin!"
            required
          />
          <small id="confirmHelp" class="text-danger"></small>
        </div>
        <button type="submit" class="btn btn-success mt-3">
          Register
        </button>
        <a href="login/" class="btn btn-primary mt-3">Login</a>
        {% if messages %} {% for i in messages %}
        <p style="color: red">{{ i }}</p>
        {% endfor %} {% endif %}
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
